
@{
    ViewBag.Title = "GirisYap";
}

            <h2>Giriş Yapınız...</h2>

          @using (Html.BeginForm())
          {
              <tr>
                  <td colspan="2">
                      @ViewBag.Mesaj
                  </td>
              </tr>
                <div class="form-group">
                    <input type="text" class="form-control" name="KullaniciAdi" autofocus="autofocus" placeholder="Kullanıcı Adınızı Giriniz...">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="parola" placeholder="Şifrenizi Giriniz...">
                </div>
                <button type="submit" class="btn btn-default" name="btnGirisYap" id="bbsubmit">Giriş Yap</button>
                
          }
          

         
   