
@{
    ViewBag.Title = "Kayıt Ol";
}
<h2>Kayıt Ol</h2>
@using (Html.BeginForm("KayitOl", "Kullanici", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{ 
<table>
    <tr>
    <td></td>
    <td>@ViewBag.nickVar</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı</td>
        <td><input type="text" name="Nick" value="" class="form-control" required/></td>
    </tr>
    <tr>
        <td>Parola</td>
        <td><input class="form-control" type="password"name="parola" value="" required /></td>
    </tr>
    <tr>
        <td>Parola Tekrar</td>
        <td><input type="password" name="parolaTekrar" value="" required class="form-control" /></td>
    </tr>
    <tr>
        <td>Adı</td>
        <td><input type="text" name="Adi" value="" required class="form-control"/></td>
    </tr>
    <tr>
        <td>Soyadı</td>
        <td><input type="text" name="Soyadi" value=""required class="form-control" /></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="email" name="Mail" value="" required class="form-control" /></td>
    </tr>
    <tr>
        <td>Profil Resim</td>
        <td><input type="file" name="Resim" value="" class="form-control" /></td>
    </tr>
    <tr>
    <td></td>
        <td><input type="submit" name="btnKayıtOl" value="Kayıt Ol" class="form-control" /></td>
    </tr>
</table>
}