@{
    ViewBag.Title = "Yazar-Listesi";
}
@using BlogSitesi.Models
@model List<aspnet_Users>

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Yazar Listesi
                </div>

            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>


                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Nick</th>
                                <th>Kayıt Tarihi</th>
                                
                                <th>Engelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (aspnet_Users kullanici in Model)
                            {

                                <tr>
                                    <td>@kullanici.Kullanici.Adi</td>
                                    <td>@kullanici.Kullanici.Soyadi</td>

                                    <td>
                                        @kullanici.UserName
                                    </td>
                                    <td>
                                        @kullanici.Kullanici.KayitTarihi
                                    </td>
                                    
                                    <td>
                                        @if (kullanici.Kullanici.Aktif)
                                        {
                                            <a href="/Admin/yazarEngelle/@kullanici.Kullanici.id" class="btn btn-success">Engelle</a>
                                        }
                                        else
                                        {
                                            <a href="/Admin/yazarEngelle/@kullanici.Kullanici.id" class="btn btn-danger">Engelli</a>
                                        }
                                    </td>


                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
