
@{
    ViewBag.Title = "Ekle";
}

<h2>Rol Ekle</h2>

@using (Html.BeginForm())
{
   <tr>
       <td><h4>Rol Adı</h4></td>
       <td><input class="form-control" type="text" name="RolName" value="" /></td>
   </tr> <br />
    
    <button type="submit" class="btn btn-default" name="btnGirisYap" id="bbsubmit">Rol Ekle</button>
}





